<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="author" content="Kamil Frydlewicz">
    <meta name="description" content="Proof of concept application implements auto complete client-server solution. Node.js server serves set of cached records by http protocol or socket. Client uses jQuery, mustache and less. All code written in TypeScript.">
    <meta name="keywords" content="auto complete, AutoComplete, proof of concept, poc, application, Node.js, TypeScript, jQuery, mustache, less, Socket.IO, client-server, Kamil Frydlewicz">

    <title>AutoComplete</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav>
        <div class="left">
            proof of concept
        </div>
        <div class="right">
            <a target="_blank" href="https://github.com/frydlewicz/AutoComplete" rel="nofollow">
                <img src="/github.svg" alt="code">
            </a>
        </div>
    </nav>
    <main>
        <div class="box">
            <header>
                <h1>AutoComplete</h1>
                <p>cities of the world example</p>
            </header>
            <div>
                response time: <strong id="responseTime">0 ms</strong>
            </div>
            <div>
                <label>
                    start typing:
                    <input type="text" id="autoComplete">
                </label>
            </div>
            <div>
                <div class="half">
                    <label>
                        <input type="radio" name="protocol">
                        http
                    </label>&nbsp;
                    <label>
                        <input type="radio" name="protocol" id="useSocket" checked>
                        socket
                    </label>
                </div>
                <div class="half">
                    <label>
                        <input type="checkbox" id="useCache" checked>
                        cache
                    </label>
                </div>
            </div>
            <p>
                <small>Developed using Node.js, Socket.IO, TypeScript and&nbsp;less</small>
            </p>
        </div>
    </main>
    <footer>
        <span>
            &copy;&nbsp;Copyright <a target="_blank" href="https://frydlewicz.pl">Kamil&nbsp;Frydlewicz</a> 2019
        </span>
    </footer>

    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script defer src="/js/jquery.autoComplete.js"></script>
    <script defer src="/js/stopwatch.js"></script>
    <script defer src="/js/client.js"></script>
</body>

</html>